<div class="page-header">
  <h1>Editing Selection #<%= @selection.id %></h1>
</div>

<%= form_tag(selection_url(@selection), method: 'patch', class: 'form-horizontal') do %>
  <div class="form-group">
    <%= label_tag :diner, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_field_tag :diner, @selection.diner, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :first_starter_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :first_starter_id, option_groups_from_collection_for_select(Category.all, :starters, :name, :id, :name, @selection.first_starter_id), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :second_starter_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :second_starter_id, option_groups_from_collection_for_select(Category.all, :starters, :name, :id, :name, @selection.second_starter_id), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :first_entree_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :first_entree_id, option_groups_from_collection_for_select(Category.all, :entrees, :name, :id, :name, @selection.first_entree_id), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :second_entree_id, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= select_tag :second_entree_id, option_groups_from_collection_for_select(Category.all, :entrees, :name, :id, :name, @selection.second_entree_id), class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= label_tag :comments, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-6">
      <%= text_area_tag :comments, @selection.comments, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-6">
      <%= submit_tag "Update Selection", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
