<div class="page-header">
  <h1>Selection #<%= @selection.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Diner</dt>
  <dd><%= @selection.diner %></dd>

  <dt>First starter</dt>
  <dd><%= @selection.first_starter.name %></dd>

  <dt>Second starter</dt>
  <dd><%= @selection.second_starter.name %></dd>

  <dt>First entree</dt>
  <dd><%= @selection.first_entree.name %></dd>

  <dt>Second entree</dt>
  <dd><%= @selection.second_entree.name %></dd>

  <dt>Comments</dt>
  <dd><%= @selection.comments %></dd>

</dl>
